<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/phpunit/bootstrap.php">
    <testsuites>
        <testsuite name="TrkLife Api Test Suite">
            <directory>./tests/phpunit/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>app/src/</directory>
        </whitelist>
    </filter>
</phpunit>